<h1 mat-dialog-title style="text-align: center; font-size: 30px">{{ data.title }}</h1>
<div mat-dialog-content>
  <b>Description:</b>
  <p>{{ data.description }}</p>

  <div id="specificDiv" *ngIf="data.specific">
    <app-expandabletext [expandText]="'Learn more'" [hideText]="'Less'" [content]="data.specific"></app-expandabletext>
  </div>

  <div id="instructionDiv" *ngIf="data.instruction">
    <b>Instruction:</b>
    <ul>
      <li *ngFor="let step of data.instruction">{{ step }}</li>
    </ul>
  </div>

  <div id="informationDiv" *ngIf="data.inputs">
    <b>Information needed:</b><br>
    <div *ngFor="let input of data.inputs">
      <mat-form-field>
        <span *ngIf="input.type !== 'select'">
          {{ input.name }}: <input matInput [type]="input.type">
        </span>
        <span *ngIf="input.type === 'select'">
            {{ input.name }}: <mat-select>
                                <mat-option *ngFor="let element of input.elements; let i = index" value="asd">
                                  {{ element }}
                                </mat-option>
                              </mat-select>
          </span>
      </mat-form-field>
    </div>
  </div>

    <!--
        {
        name: "Device type",
        type: "select",
        elements: ["TV", "Computer", "Smartphone", "Camera", "Custon device"],
        required: true
    -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onOkClick()">Ok</button>
</div>
