<h1 mat-dialog-title style="text-align: center; font-size: 30px">{{ localData.title }}</h1>
<div mat-dialog-content>
  <b>Description:</b>
  <p>{{ localData.description }}</p>

  <div id="specificDiv" *ngIf="localData.specific">
    <app-expandabletext [expandText]="'Learn more'" [hideText]="'Less'" [content]="localData.specific"></app-expandabletext>
  </div>

  <div id="instructionDiv" *ngIf="localData.instructions">
    <b>Instructions:</b>
    <ol>
      <li *ngFor="let step of localData.instructions">{{ step }}</li>
    </ol>
  </div>

  <div id="informationDiv" *ngIf="localData.inputs.length > 0">
    <b>Information needed:</b><br>
    <div *ngFor="let input of localData.inputs">
      <mat-form-field *ngIf="input.type == 'text'">
          {{ input.title }}: <input matInput type="text" [(ngModel)]="input.value">
      </mat-form-field>

        <span *ngIf="input.type == 'textarea'">
          {{ input.title }}: <textarea matInput type="text" [(ngModel)]="input.value"></textarea>
        </span>

        <span *ngIf="input.type == 'checkbox'">
          <mat-checkbox [(ngModel)]="input.value">{{ input.title }}</mat-checkbox>
        </span>


        <span *ngIf="input.type == 'button'">
          <button mat-button (click)="input.value = 'true'; onOkClick()">{{ input.title }}</button>
        </span>

        <mat-form-field *ngIf="input.type === 'select'">
          {{ input.title }}: <mat-select [(value)]="input.value">
                              <mat-option *ngFor="let element of input.elements; let i = index" [value]="element.value">
                                {{ element.text }}
                              </mat-option>
                            </mat-select>
          </mat-form-field>

    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onOkClick()">Ok</button>
</div>
