mat-toolbar{
  margin-bottom: 3rem;
  background-color: transparent;
  overflow: hidden;

  /*border: 1px solid red;*/

  vertical-align: middle;
  color: lightgray;
  display: table;

}

.searchInput{
  color: white;
  width: 400px;
  background: transparent;
  border: none;
  font-size: 20px;
  margin-left: 10px;

  vertical-align: middle;
  vertical-align:baseline;
}

.topnav-left{
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

.topnav-right{
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}


#container-1{
  display: flex;
}

app-sidebar{
  width: 20%;
  height: 100%;
  text-align: center;
}

app-cardholder{
  margin-left: 1rem;
  width: 80%;
}
