<mat-toolbar>
  <div class="topnav-left">
    <button mat-button><mat-icon>search</mat-icon></button>
    <input type="text" class="searchInput" placeholder="Search movies, TV and more">
  </div>

  <div class="topnav-right">

    <button mat-button (click)="openDialog()"><mat-icon>cast</mat-icon></button>
    <button mat-button (click)="openSnackBar()"><mat-icon>backup</mat-icon></button>
    <button mat-button><mat-icon>settings</mat-icon></button>

    {{ now | date:'HH:mm'}}
  </div>

</mat-toolbar>

<div id="container-1">
  <app-sidebar></app-sidebar>

  <app-cardholder></app-cardholder>
</div>
