:host{
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
}

.myCard {
  width: 300px;
  /*margin-right: 15px;*/
  margin: auto;
  color: white;
  text-align: center;

  background-color: transparent;
  /*border: 1px solid green;*/

  transition: all .2s ease-in-out;
  border-radius: 5px;
}

.imageHolder{
  background-color: white;
  border-radius: 5px;

  padding-top: 15px;
  padding-bottom: 15px;

  vertical-align: middle;
}

.myCard img{
  height: 100px;
}

.myCard:hover, .myCard:focus{
  /*border: 1px solid red;*/
  outline: none;
  transform: scale(1.2);
}
