:host{
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
}

.myCard {
  width: 300px;
  /*margin-right: 15px;*/
  margin: auto;
  color: white;
  text-align: center;

  background-color: transparent;
  border: 1px solid green;

  transition: all .2s ease-in-out;
}

.myCard img{
  height: 100px;
}

.myCard:hover{
  border: 1px solid red;
  transform: scale(1.2);
}
